@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap");
* {
  outline: none;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: none; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover, a:focus {
    text-decoration: none; }

h1 {
  font-family: "Fascinate Inline";
  font-weight: 400;
  font-size: 220px;
  margin-bottom: 30px; }

h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px; }

h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px; }

h4 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px; }

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px; }

.body-link {
  text-decoration: underline; }
  .body-link:hover {
    color: #3e588c;
    text-decoration: none; }

body header header {
  position: relative; }
  body header header .menu-button {
    padding: 20px;
    background-color: magenta; }
    body header header .menu-button h2 {
      font-weight: 700;
      color: #fff; }

body main[role="main"] {
  min-height: calc(100vh - 527px); }

body .big-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  body .big-container h1 {
    text-align: center; }
