{
  "env": {
	"browser": true,
	"jest/globals": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["jsx-a11y", "import", "jest"],
  "rules": {
    "linebreak-style": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "no-plusplus": 0
  }
}
