// mixin for text style guide

@mixin default-text($text-name) {
  $text-styles: map-get($default-text-styles, $text-name);

  font-family: map-get($text-styles, "font-family");
  font-weight: map-get($text-styles, "font-weight");
  font-size: map-get($text-styles, "font-size");
  line-height: map-get($text-styles, "line-height");
  margin-bottom: map-get($text-styles, "margin-bottom");

  @if $text-name == "button" {
    text-transform: uppercase;
  }
}
// define typograph general style below
// you can add more / remove these according to the needs
$default-text-styles: (
  "h1": (
    "font-family": "Fascinate Inline",
    "font-weight": 400,
    "font-size": 220px,
    "margin-bottom": 30px
  ),
  "h2": (
    "font-family": "Roboto",
    "font-weight": 700,
    "font-size": 32px,
    "line-height": 40px
  ),
  "h3": (
    "font-family": "Roboto",
    "font-weight": 700,
    "font-size": 24px,
    "line-height": 30px,
    "margin-bottom": 15px
  ),
  "h4": (
    "font-family": "Roboto",
    "font-weight": 400,
    "font-size": 20px,
    "line-height": 30px,
    "margin-bottom": 10px
  ),
  "body-text": (
    "font-family": "Roboto",
    "font-weight": 400,
    "font-size": 16px,
    "line-height": 24px,
    "margin-bottom": 10px
  ),
  "button-text": (
    "font-family": "Roboto",
    "font-weight": 500,
    "font-size": 18px,
    "line-height": "normal"
  ),
  "footer-text": (
    "font-family": "Roboto",
    "font-weight": 400,
    "font-size": 11px,
    "line-height": "normal"
  ),
  "breadcrumbs-text": (
    "font-family": "Roboto",
    "font-weight": "400",
    "font-size": 16px,
    "margin-bottom": 50px
  )
);
