header
	.menu-button
		.menu-button__container
			h2 H
	
	.menu
		ul.menu__list
			li
				h3 Halo.
				span.body-text Hari ini di Halo.
				.small-line
			li
				h3 Portofolio.
				span.body-text Yang sudah kita buat.
				.small-line
			li
				h3 Tentang.
				span.body-text Siapa Kita.
				.small-line
			li
				h3 Karir.
				span.body-text Gabung dengan kami.
				.small-line
			li
				h3 Kontak
				span.body-text Kontak kami
				.small-line

		p.body-text.menu__text Support Website Ini di 
			a(href="#") Patreon

