// script
script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js")
script.
  WebFont.load({
    google: {
      families: ['Montserrat:400,700', 'Capriola']
    }
  });

script(src="js/bundle.1.3.2.js" defer)
script(src="js/xnamespace.1.3.2.js" defer)

// stylesheets
link(rel="stylesheet", type="text/css", media="print", href="css/print.1.3.2.css")
